#mainLogo {
    margin-bottom: -2rem;
    padding: 15vmin;
    position: relative;
    height: 100vh;
    background: url("/images/KakaoTalk_20180713_132758375.jpg") center;
    background-size: cover;
}

#logoTitle {
}

#logoTitle > h1, #logoTitle a  {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 10vmax;
    color: #301919;
    text-decoration: none;
    text-shadow: 1px 1px 5px rgba(48, 25, 25, .5), 3px 3px 10px rgba(48, 25, 25, .5), 5px 5px 25px rgba(48, 25, 25, 1);
}

#logoIntro {
    margin: auto 10%;
}
#logoIntro > p {
    font-family: 'Poor Story', sans-serif;
    color: white;
    font-weight: bold;
    font-size: .9rem;
    text-shadow: 0 0 2px rgba(0, 0, 0, .5), 0 0 10px rgba(0, 0, 0, .5);
}

/* 모바일 */
@media all and (max-width:767px) {

}
/* 모바일 - 가로모드 키보드 올라면 가로모드로 인식해서 안씀, 자바스크립트로는 넥7같은 세로모드는 모바일 가로모드는 태블릿인 기기에서 제대로 동작하지 않아서 안씀*/
@media all and (max-width:767px) and (orientation: landscape) {

}
/* 태블릿, 데스크탑 공통 */
@media all and (min-width:768px) {

}
/* 태블릿 기본 세로모드로 가정*/
@media all and (min-width:768px) and (max-width:1024px) {


}
/* 태블릿 - 가로모드 landscape */
@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape) {


}
/* 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1025px) {



}
/* 데스크탑 세로모드 portrait */
@media all and (min-width:1025px) and (orientation: portrait) {

}