body {
    padding: 0 0 0 70px;
}

#mainNav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70px;
    *background-color: #1F1010;
    background: url("/images/KakaoTalk_20180713_213851313.jpg") center;
    background-size: cover ;
    box-shadow: 0 0 5px rgba(31, 16, 16, .7), 0 0 15px rgba(31, 16, 16, .7),inset 16px 0 35px -15px rgba(31, 16, 16, 1),inset -16px 0 35px -15px rgba(31, 16, 16, 1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#mainNav > section {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainNav > section:nth-child(1) {
    *background-color: #183059;
}
#mainNav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 210px;

    background: url("/images/KakaoTalk_20180713_222145113.jpg") center;
    background-size: cover ;

    list-style-type : none;
}
#mainNav li {
    width: 100%;
    height: 70px;
    box-shadow: inset 16px 0 15px -15px rgba(31, 16, 16, 1),inset -16px 0 15px -15px rgba(31, 16, 16, 1);

    display: flex;
    align-items: center;
    justify-content: center;
}
#mainNav li:nth-child(1) {
    box-shadow: inset 0 16px 25px -15px rgba(31, 16, 16, 1), inset 16px 0 15px -15px rgba(31, 16, 16, 1),inset -16px 0 15px -15px rgba(31, 16, 16, 1);
    *background-color: #F6F4F3;
}
#mainNav li:nth-child(2) {
    *background-color: #F03A47;
}
#mainNav li:nth-child(3) {
    box-shadow: inset 0 -16px 15px -15px rgba(31, 16, 16, 1), inset 16px 0 15px -15px rgba(31, 16, 16, 1),inset -16px 0 15px -15px rgba(31, 16, 16, 1);
    *background-color: #276FBF;
}

#mainNav li > a, #mainNav > section > a {
    font-family: 'Poor Story', sans-serif;
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, .5), 0 0 5px rgba(0, 0, 0, 1);
}

/* 모바일 */
@media all and (max-width:767px) {
    body {
        padding: 60px 0 0 0;
    }
    #mainLogo {
        height: calc(100vh - 60px);
    }
    #mainNav {
        bottom: auto;
        width: 100%;
        height: 60px;
    }

    #mainNav ul {
        padding: 0;
        width: 100%;
        height: 100%;
        flex-direction: row;
    }
    #mainNav li {
        width: 100%;
        height: 100%;
    }
}
/* 모바일 - 가로모드 키보드 올라면 가로모드로 인식해서 안씀, 자바스크립트로는 넥7같은 세로모드는 모바일 가로모드는 태블릿인 기기에서 제대로 동작하지 않아서 안씀*/
@media all and (max-width:767px) and (orientation: landscape) {

}
/* 태블릿, 데스크탑 공통 */
@media all and (min-width:768px) {

}
/* 태블릿 기본 세로모드로 가정*/
@media all and (min-width:768px) and (max-width:1024px) {


}
/* 태블릿 - 가로모드 landscape */
@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape) {


}
/* 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1025px) {



}
/* 데스크탑 세로모드 portrait */
@media all and (min-width:1025px) and (orientation: portrait) {

}