extends layout

block content
    h1= title
    p Welcome to #{title}
    section#mainProducts.carousel.slide.col-12.col-sm-12.col-md-8.col-lg-8.col-xl-8.p-0
        ul.carousel-indicators
            li.active(data-target="#mainProducts" data-slide-to="0")
            li(data-target="#mainProducts" data-slide-to="1")
            li(data-target="#mainProducts" data-slide-to="2")
        section.carousel-inner
            section.carousel-item.active
                section(style="background: url('/images/products/한지공예/팔각상/KakaoTalk_20180704_190255548.jpg') no-repeat center; background-size: contain;")
            section.carousel-item
                section(style="background: url('/images/products/뜨개질/가방/1530878584375.jpg') no-repeat center; background-size: contain;")
            section.carousel-item
                section(style="background: url('/images/products/한지공예/커피함/KakaoTalk_20180704_190255332.jpg') no-repeat center; background-size: contain;")
        a.carousel-control-prev(href="#mainProducts" data-slide="prev")
            span.carousel-control-prev-icon
        a.carousel-control-next(href="#mainProducts" data-slide="next")
            span.carousel-control-next-icon
    section.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4