extends layout

block content
    section#mainLogo.jumbotron-fluid
        section#logoTitle
            h1
                a(href="/") YS Handcraft
        section#logoIntro
            p 시장 급등락 등 변화가 많은 금융 산업의 특성상 안정적 서비스를 위해 탄력적 대응이 가능하고 사용한 만큼 비용을 지불하면 되기 때문에 HPC 클라우드 서비스 수요가 높아지고 있다고 네이버는 설명했다.
