nav#mainNav
    section
        a(href="/") 홈
    ul
        li
            a(href="intro") 소개
        li
            a(href="product?kinds=knitting") 뜨개질
        li
            a(href="product?kinds=hanjiCraft")  한지공예
    section
        a(href="/") 관리자