extends layout

block content
    section.row.m-0.pt-3
        section.col-12.col-sm-6.col-md-4.col-xl-2.text-center
            section#category_product.sticky-top
                h5 카테고리
                ul.nav.nav-pills.flex-column
                    each c in productsInfo.category
                        li.nav-item
                            if c.details_category.length === 0
                                a.nav-link.rounded-0(href="#")= c.name
                            else
                                a.nav-link.dropdown-toggle.rounded-0(href="#")= c.name
                            section.list-group.list-group-flush.hide
                                each d in c.details_category
                                    a.list-group-item.list-group-item-action.list-group-item-light.small(href="#")= d

        section.col-12.col-sm-6.col-md-8.col-xl-10.border-left
            //-section#kinds_product.p-3
                h5 세부분류
                ul.nav.nav-pills
                    li.nav-item
                        a.nav-link(href="#") 소형
                    li.nav-item
                        a.nav-link.active(href="#") 중형
                    li.nav-item
                        a.nav-link(href="#") 대형
            section#intro_product.p-3
                h5 커피함
                p.text-secondary 이건 커피함이고 커피함이다.
            section.row.p-3
                a.item.col-12.col-sm-12.col-md-6.col-xl-4.text-center.p-1(href="#")
                    section.border
                        img.img-fluid(src="/images/logo_1.jpg")
                        section.p-2
                            h6.text-dark 몰라몰라무슨장
                            p.small.m-0.text-secondary 이건 저거다
                a.item.col-12.col-sm-12.col-md-6.col-xl-4.text-center.p-1(href="#")
                    section.border
                        img.img-fluid(src="/images/logo_2.jpg")
                        section.p-2
                            h6.text-dark 몰라몰라무슨장
                            p.small.m-0.text-secondary 저건 저거다
                a.item.col-12.col-sm-12.col-md-6.col-xl-4.text-center.p-1(href="#")
                    section.border
                        img.img-fluid(src="/images/logo_2.jpg")
                        section.p-2
                            h6.text-dark 몰라몰라무슨장
                            p.small.m-0.text-secondary 저건 저거다
                a.item.col-12.col-sm-12.col-md-6.col-xl-4.text-center.p-1(href="#")
                    section.border
                        img.img-fluid(src="/images/logo_2.jpg")
                        section.p-2
                            h6.text-dark 몰라몰라무슨장
                            p.small.m-0.text-secondary 저건 저거다
                a.item.col-12.col-sm-12.col-md-6.col-xl-4.text-center.p-1(href="#")
                    section.border
                        img.img-fluid(src="/images/logo_2.jpg")
                        section.p-2
                            h6.text-dark 몰라몰라무슨장
                            p.small.m-0.text-secondary 저건 저거다
                a.item.col-12.col-sm-12.col-md-6.col-xl-4.text-center.p-1(href="#")
                    section.border
                        img.img-fluid(src="/images/logo_2.jpg")
                        section.p-2
                            h6.text-dark 몰라몰라무슨장
                            p.small.m-0.text-secondary 저건 저거다
                a.item.col-12.col-sm-12.col-md-6.col-xl-4.text-center.p-1(href="#")
                    section.border
                        img.img-fluid(src="/images/logo_2.jpg")
                        section.p-2
                            h6.text-dark 몰라몰라무슨장
                            p.small.m-0.text-secondary 저건 저거다
                a.item.col-12.col-sm-12.col-md-6.col-xl-4.text-center.p-1(href="#")
                    section.border
                        img.img-fluid(src="/images/logo_2.jpg")
                        section.p-2
                            h6.text-dark 몰라몰라무슨장
                            p.small.m-0.text-secondary 저건 저거다